.list-group-item{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  &__highlighted{
    background-color: #6ab358;
  }
  &:first-child{
    border-radius: .25rem;
  }
  margin-bottom: 1rem;
}

.list-group{
  .list-group-item + .list-group-item {
    border-radius: .25rem;
    border-top-width: 1px;
  }
}
